<div class="cart-container">
    {{#unless foods}}
    <div class="square"> </div>

    <span class="empty-cart"> You have never added <br>any product yet.<br><br> Let's check <br>all the products!
        <div class="button">
            <a href="/products/all"> <button class="button-view">View products</button></div></a>
    </span>

</div>
{{/unless}}
{{!-- <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div> --}}

{{#if foods}}

<div class="one-product-container">
    <div class="opaq">
        <h3 class="section-header-title">MY CART</h3>
        <section class="container content-section">
            {{#each foods}}
            <div class="food-img-container">

                <div class="img-flex">
                    <img src="{{this.prodId.image}}" alt="img-product" class="food-img">
                    {{!-- <img src="https://res.cloudinary.com/duehv29iq/image/upload/v1568125328/morgan-sessions-k5zv-Hv4Kpc-unsplash_tpd7hx.jpg" --}}
                    {{!-- alt="img-product" class="food-img"> --}}
                </div>
                <input type="hidden" id="prod_id" value="{{this.prodId._id}}">
                <div class="sneak-info">
                    <div class="sneak-info-header">
                        <h1 class="sneak-name">{{this.prodId.name}}</h1>
                        <p class="sneak-price price_cart">€{{this.prodId.price}}</p>
                        <p class="sneak-ref qty_cart">Quantity : {{this.qty}}</p>

                    </div>
                </div>
            </div>
            {{/each}}

            <div class="cart-items">
            </div>
            <hr class="hr">
            <div class="total-flex">
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">
                        {{total foods}} €
                    </span>
                </div>
            </div>
            <span class="pick-up">Pick up - Free</span>


            <div class="flex-button">
                <a href="/order-validated"><button class="btn btn-primary btn-pick" type="button">PICK IT
                        UP</button></a>
            </div>
        </section>
        {{/if}}

    </div>
</div>