<div class="big-container product-manage-wrapper flexed-item">
  <form method="post" action="/prod-edit/{{food._id}}" class="edit-product-form">
    <h3 class="form-title"> Edit Product</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="product-name" class="label-name label">Name</label>
      <input id="product-name" type="text" class="input-text input" placeholder="Hungry ?" value="{{food.name}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="product-ref" class="label-ref label">Réf.</label>
      <input id="product-ref" type="text" class="input-text input" placeholder="ex: CAF1234" value="{{food.ref}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="product-descr" class="label-descr label">Description</label>
      <input id="product-descr" type="text" class="input-text input" placeholder="Yummy" value="{{food.description}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="product-price" class="label-price label">Price</label>
      <input id="product-price" type="number" class="sneacker-price input" min="1" value="{{food.price}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="product-main-cat" class="label-main-cat label">Main category</label>
      <select id="main_category" class="select" required>
        <option value="-1" disabled selected>Choose main Category</option>
        <option value="sweet">Sweets</option>
        <option value="salt">Salties</option>
        <option value="drink">Drinks</option>
      </select>
    </div>
    {{!-- <div class="form-item-wrapper flexed-item">
      <label class="label">Tags</label>
      {{> form_tags_select}}
    </div> --}}
    <button class="button-primary add-sneacker-btn">Edit this product</button>
  </form>
</div>