<div class="main-content-products flexed-item big-container">

  {{!-- CATEGORY --}}
  {{!-- <aside class="tag-wrapper">
    <h4 class="tag-title">All Tags</h4>
    <ul id="tag_list" class="tag-list" data-category="{{category}}">
      {{#each tags}}
      <li class="tag-list-item">
        <input id="input_{{this._id}}" type="checkbox" data-tag-id="{{this._id}}" class="checkbox" />
        <label for="input_{{this._id}}">{{this.name}}</label>
      </li>
      {{/each}}
    </ul>
  </aside> --}}

  {{!-- PRODUCTS--}}
  <section class="products-wrapper">
    <div class="products-infos">
      <h4 class="products-title">
        {{#compare category "collection" operator="==="}}
        Whole
        {{/compare}}
        {{#compare category "collection" operator="!="}}
        {{category}}
        {{/compare}}
        IronSnacks <span id="products_count" class="products-count">({{food.length}})</span>
      </h4>
      <p class="products-subtitle">Greed: intense and selfish desire for something, especially wealth,
        power, or
        food.</p>
    </div>
    {{#unless food}}
    <p>Sorry, no products yet !</p>
    {{/unless}}

    <div id="products_grid" class="products-grid flexed-item">
      {{#each food}}
      {{> food_mini }}
      {{/each}}
    </div>
  </section>
</div>